<h2>Create New Landmark</h2>
<form action="/landmarks" method="post">
  <h3>Landmark Name: <input id="new_landmark" name="landmark[name]" type="text"></h3>
  <h3>Landmark Year: <input id="landmark_year" name="landmark[year_completed]" type="text"></h3>
  <!-- <h2>Titles: </h2>
  <% @titles.each do |title| %>
    <input id="title_<%= title.id %>" name="figure[title_ids][]" type="checkbox" value="<%= title.id %>">
    <label for="<%= title.id %>"><%= title.name %> </label>
  <% end %>
  <h2>Create New Title:</h2>
  <input id="new_title" name="title[name]" type="text">
  <h2>Landmarks: </h2>
  <% @landmarks.each do |landmark| %>
    <input id="landmark_<%= landmark.id %>" name="figure[landmark_ids][]" type="checkbox" value="<%= landmark.id %>">
    <label for="<%= landmark.id %>"><%= landmark.name %></label>
  <% end %> -->
  <input type="submit" name="Create New Landmark" value="Create New Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
